body {
  background-color: #ece;
}

* {
  box-sizing: border-box;
}

.page-container {
  margin-top: 80px;
}

.pokemon-list {
  display: float;
}

.pokemon-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.myButton {
  background-color: #f8f9fa;
  border-radius: 3px;
  width: 250px;
  padding: 10px;
  margin: 10px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}

.hidden {
  display: none;
}

img:hover {
  transform: scale(1.5);
}

.modal-body {
  text-align: center;
}

/* Navbar not overlapping body */
@media (max-width: 991px) {
  body {
    padding-top: 80px;
  }
}

@media all and (max-width: 800px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 530px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
