.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* body {
  padding-top: 60px;
} */

* {
  box-sizing: border-box;
}

.page-container {
  margin-top: 80px;
}

.liItem {
  padding: 5px;
}

.myButton {
  width: 15rem;
}

.hidden {
  display: none;
}

@media (max-width: 991px) {
  body {
    padding-top: 80px;
  }
}

@media all and (max-width: 800px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 530px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
